<template>
    <div id="show-blogs">
        <h1>Project</h1>
        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nume</th>
                    <th>Adresa</th>
                    <th>Email</th>
                    <th>Varsta</th>
                    <th>Actiuni</th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="user in users">
                    <td>{{user.id}}</td>
                    <td>{{user.nume}}</td>
                    <td>{{user.adresa}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.varsta}}</td>
                    <td>

                        <button @click="showUser (user)">
                            Update
                        </button>
                        <button @click="deletePerson (user)">
                            Delete
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
            <p :visible.sync="alertVisible"></p>
        </div>

        <modal name="input">
            <div>
                <li v-show="!validation.name">Name filed id required.</li>
                <li v-show="!validation.email">Input a valid email.</li>
                <li v-show="!validation.adresa">Address field is required.</li>
                <li v-show="!validation.varsta">Varsta field is required.</li>
            </div>
            <form>
                <div class="form-input">
                    <label>Id</label>
                    <input type="text" v-model="newUser.id" :disabled="1">
                </div>
                <div class="form-input">
                    <label>Nume</label>
                    <input type="text" v-model="newUser.nume">
                </div>
                <div class="form-input">
                    <label>Adresa</label>
                    <input type="text" v-model="newUser.adresa">
                </div>
                <div class="form-input">
                    <label>Email</label>
                    <input type="text" v-model="newUser.email">
                </div>
                <div class="form-input">
                    <label>Varsta</label>
                    <input type="text" v-model="newUser.varsta">
                </div>
                <button @click=" EditPerson(newUser.id)" >Update</button>
            </form>
        </modal>

    </div>
</template>

<script>
    const Alert = require('./dialog.vue');
    export default {

        components: { Alert },
        data(){
            return{
                users:[],
                newUser:{
                    id:'',
                    nume: '',
                    adresa: '',
                    email: '',
                    varsta: ''

                },
                alertVisible: false
            }

        },
        methods:{
            showUser (user) {
                this.$http.get('http://localhost:3000/users/' + user.id).then(
                    function (data) {
                        console.log(data.body.id);
                        this.newUser.id = data.body.id;
                        this.newUser.nume = data.body.nume;
                        this.newUser.adresa = data.body.adresa;
                        this.newUser.email = data.body.email;
                        this.newUser.varsta = data.body.varsta;
                        console.log(data.varsta);
                    }
                );
                this.$modal.show('input');


            },
            EditPerson: function(id){
              var user = this.newUser;

              this.newUser = {id:'',nume:'',adresa:'',email:'',varsta:''}

              this.$http.patch('http://localhost:3000/users/' + id, user).then(function(data){
                console.log(data);
              });

            },
            deletePerson: function(person) {
                var ConfirmBox = confirm("Are you sure, you want to delete this user?")
                if(ConfirmBox) {
                    this.$http.delete('http://localhost:3000/users/' + person.id).then(
                        function (response) {
                            this.users.$remove(person);
                        }
                    );
                }

            }
        },
        created(){
            this.$http.get("http://localhost:3000/users").then(function (data) {
                this.users = data.body;
            })
        },
        computed:{
            validation: function(){
                return {
                    name: !!this.newUser.nume.trim(),
                    email: !!this.newUser.email.trim(),
                    address: !!this.newUser.adresa.trim(),
                    varsta: !!this.newUser.varsta.trim()
                }
            }

        }
    }
</script>

<style scoped>

</style>